name: Java CI with Maven, Docker and SonarCloud in Linux

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Install Xvfb (virtual display)
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb

      - name: Cache Maven and Sonar packages
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2
            ~/.sonar/cache
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-

     
      - name: Set Maven Additional Goals
        run: |
          echo "SONARGOAL=org.sonarsource.scanner.maven:sonar-maven-plugin:sonar" >> $GITHUB_ENV
        if: ${{ env.SONAR_TOKEN }}

      - name: Build with Maven and SonarCloud
        run: >
          xvfb-run --auto-servernum --server-args="-screen 0 1024x768x24"
          mvn -B -ntp -e clean verify $SONARGOAL
          -Dsonar.organization=arvind088
          -Dsonar.projectKey=arvind088_stock-management
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
        working-directory: stock-managment
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
